# Основные зависимости
keyboard>=0.13.5    # Для обработки клавиатурных событий
colorama>=0.4.6     # Для цветного вывода в консоль

# Тестирование
pytest>=7.4.0       # Основной фреймворк для тестирования
pytest-cov>=4.1.0   # Для измерения покрытия кода тестами
coverage>=7.3.0     # Для генерации отчетов о покрытии

